body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo span {
  color: #2e2f42;
}

.logo:hover {
  color: #4d5ae5;
  cursor: pointer;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav .link-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav .link-nav:hover {
  color: #404bbf;
}

.site-nav .link-nav:focus {
  color: #404bbf;
}

.link-contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-address {
  display: flex;
  gap: 40px;
}

.contacts .link-contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link-contacts:hover {
  color: #404bbf;
}

.contacts .link-contacts:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .page-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.page-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero .button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
}

.hero .button:hover {
  background-color: #404bbf;
}

.hero .button:focus {
  background-color: #404bbf;
}

.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  color: #434455;
  block-size: border-box;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-card {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-box {
  padding: 32px 0 32px;
  text-align: center;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-box {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .text-footer {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer .footer-logo {
  color: #f4f4fd;
}

.text-footer {
  max-width: 264px;
}
